<img src='img/waterfall.png' id='waterfall_img' class='img-responsive' alt='Waterfall model' usemap='#waterfall'>
<!--explanation box template-->
<div id='expl_box_templ' class='pagetrans_hide'>
	<div class='title'></div>
	<div class='content'></div>
</div>
<map name="waterfall" id="waterfall_map">
	<area id="wf_map_system" alt="System Requirements" title="System Requirements" href="#" shape="rect" coords="17,10,236,121" style="outline:none;">
	<area id="wf_map_software" alt="Software Requirements" title="Software Requirements" href="#" shape="rect" coords="224,140,443,251" style="outline:none;">
	<area id="wf_map_analysis" alt="Analysis" title="Analysis" href="#" shape="rect" coords="440,272,659,383" style="outline:none;">
	<area id="wf_map_design" alt="Design" title="Design" href="#" shape="rect" coords="660,409,879,520" style="outline:none;">
	<area id="wf_map_coding" alt="Coding" title="Coding" href="#" shape="rect" coords="877,542,1096,653" style="outline:none;">
	<area id="wf_map_testing" alt="Testing" title="Testing" href="#" shape="rect" coords="1089.8000001907349,679.3999938964844,1308.8000001907349,790.3999938964844" style="outline:none;">
	<area id="wf_map_operations" alt="Operations" title="Operations" href="#" shape="rect" coords="1308,814,1527,925" style="outline:none;">
</map>