<div id="wrap-procons" class="row clearfix">

    <div class="row">
        <ul class="col-xs-4 connectedSortablePC" id="proconlist">
			<li class="nodrag">Sort the steps</li>
            {{sortitems.join("")}}
        </ul>
        <ul class="col-xs-4 connectedSortablePC" id="prolist">
            <li class="nodrag" data-header='1'>Use</li>
        </ul>
        <ul class="col-xs-4 connectedSortablePC" id="conlist">
            <li class="nodrag" data-header='1'>Don&apos;t Use</li>
        </ul>
    </div>

</div>
