<div id="applications" class="center" style='margin-top:5px;font-size:0.9em'>

	<div class='page_text'>
		The phase-gate process of innovation and product development
	</div>

	<div class='page_text'>
		Example: a process to create new IT services
	</div>

	<div class='page_text' id="animation_container">
		<div id='anim_constrainer' class="clearfix">
    	    <svg id="circle" height="60" width="60">
    	        <circle cx="30" cy="30" r="30" stroke="#000000" stroke-width="3" fill="#FFFFFF" />
    	    </svg>
        </div>
		<img class='img-responsive img-80' src='img/stage-gate-process/Slide12.PNG' alt='stage-gate process' />
	</div>
	<!--
	<div class='page_text' style='margin-bottom:5px;'>
		The project has several milestones.
		At any of the gate reviews S1 to S4, a decision is made to either progress with the product or cease development.
	</div>
	-->
</div>